button{
  display: block;
  margin: 0 auto;
  color: white;
  &.file-select-button{
    background-color: rgb(47, 117, 221);
  }
  &.upload-btn{
    color: black;
    height: 40px;
    width: 80px;
  }
}

.file-select-button, .file-name {
  margin: 8px;
}

.file-picker{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  background: transparent;
  border-radius: 5px;
  padding: 5px 5px;
  width: calc(100% - 12px);
  border: 1px gray solid;
}

mat-spinner{
  margin: 0 auto;
}