<mat-card>
  <div class="header">
    <span class="title">{{post.title}}</span>
    <span>{{post.userName}}</span>
  </div>
  <div class="image-display">
    {{post.img}}
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let comment of post.comments" class="comment">
      <div>{{comment.userName}}:</div>
      <div>{{comment.text}}</div>
    </div>


    <mat-form-field appearance="outline">
      <mat-label>Add comment</mat-label>
      <input matInput #input (keydown.enter)="onAddComment(input)"/>
    </mat-form-field>
  </mat-expansion-panel>
</mat-card>
