<mat-card>
  <div>
    <span>{{post.userName}}</span>
  </div>
  <div class="image-display">
    {{post.img}}
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngFor="let comment of post.comments">{{comment}}</p>
    <mat-form-field appearance="outline">
      <mat-label>Add comment</mat-label>
      <input matInput #input (keydown.enter)="onAddComment(input)"/>
    </mat-form-field>
  </mat-expansion-panel>
</mat-card>
